<div class="header">
    <div>
        <div class="header-logo col-xs-3 col-sm-3 col-md-3">
            <nav class="navbar">
                <div class="navbar-header">
                    <a routerLink="/" class="navbar-brand">
                        <img src="./assets/images/logo-4.png">
                    </a>
                </div>
            </nav>
        </div> 
        <div class="header-menu col-xs-9 col-sm-9 col-md-9">
            <div class="menu-info">
                <nav class="navbar">
                    <ul class="info-social nav nav-pills navbar-right">
                        <li><a href="https://web.facebook.com/Donjai.Shirt" target="_blank"><img src="./assets/images/facebook-logo.png"></a></li>
                        <li><a href="https://www.instagram.com/donjai_shirt" target="_blank"><img src="./assets/images/instagram-logo.png"></a></li>
                        <li><a href="http://line.me/ti/p/~itsara_cs" target="_blank"><img src="./assets/images/line-logo.png"></a></li>
                    </ul>
                    <ul class="info-order nav nav-pills navbar-right">
                        <li>
                            <a routerLink="/">
                                <i class="fa fa-unlock-alt"></i> เข้าสู่ระบบ
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                <i class="fa fa-star"></i> รายการโปรด
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                <i class="fa fa-shopping-basket"></i> ตะกร้าสินค้า
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="menu-link">
                <nav class="link-desktop navbar">
                    <ul class="nav nav-pills navbar-right">
                        <li><a routerLink="/">หน้าแรก</a></li>
                        <li><a routerLink="/">โปรโมชั่น</a></li>
                        <li><a routerLink="/">สินค้า</a></li>
                        <li><a routerLink="/">แจ้งชำระเงิน</a></li>
                        <li><a routerLink="/">สถานะการจัดส่ง</a></li>
                        <li><a routerLink="/">บทความ</a></li>
                        <li><a routerLink="/">วิธีการสั่งซื้อสินค้า</a></li>
                        <li><a routerLink="/">ติดต่อเรา</a></li>
                    </ul>
                </nav>
                <nav class="link-mobile navbar">
                    <div class="text-center">
                        <ul class="mobile-order nav nav-pills">
                            <li>
                                <a routerLink="/"><i class="fa fa-unlock-alt"></i><br> เข้าสู่ระบบ</a>
                            </li>
                            <li>
                                <a routerLink="/"><i class="fa fa-star"></i><br> รายการโปรด</a>
                            </li>
                            <li>
                                <a routerLink="/"><i class="fa fa-shopping-basket"></i><br> ตะกร้าสินค้า</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="mobile-menu">
                        <li><a routerLink="/">หน้าแรก</a></li>
                        <li><a routerLink="/">โปรโมชั่น</a></li>
                        <li><a routerLink="/">สินค้า</a></li>
                        <li><a routerLink="/">แจ้งชำระเงิน</a></li>
                        <li><a routerLink="/">สถานะการจัดส่ง</a></li>
                        <li><a routerLink="/">บทความ</a></li>
                        <li><a routerLink="/">วิธีการสั่งซื้อสินค้า</a></li>
                        <li><a routerLink="/">ติดต่อเรา</a></li>
                    </ul>
                    <div class="text-center">
                        <ul class="mobile-social nav nav-pills">
                            <li><a href="https://web.facebook.com/Donjai.Shirt" target="_blank"><img src="./assets/images/facebook-logo.png"></a></li>
                            <li><a href="https://www.instagram.com/donjai_shirt" target="_blank"><img src="./assets/images/instagram-logo.png"></a></li>
                            <li><a href="http://line.me/ti/p/~itsara_cs" target="_blank"><img src="./assets/images/line-logo.png"></a></li>
                        </ul>
                    </div>
                </nav>
                <a class="show-link-mobile"><i class="fa fa-bars"></i> เมนู</a>
            </div>
        </div>
    </div>
</div>