<div class="aside row">
  <div class="aside-member">
    <h3>MEMBER</h3>
    <div class="member-avatar text-center">
      <img src="./assets/images/profile.png">
      <p>
        <a routerLink="/"><b>Itsara Rakchanthuek</b></a>
      </p>
    </div>
    <div class="member-menu">
      <p><i class="fa fa-shopping-basket"></i> รายการสั่งซื้อของฉัน</p>
      <ul>
        <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> ทั้งหมด (0)</a></li>
        <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> รอการชำระเงิน (0)</a></li>
        <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> รอตรวจสอบยอดเงิน (0)</a></li>
        <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> รอจัดส่งสินค้า (0)</a></li>
        <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> ส่งสินค้าเรียบร้อยแล้ว (0)</a></li>
      </ul>
    </div>
  </div>
  <div class="text-left"><span class="line"></span></div>
  <div class="aside-fanpage">
    <h3>FANPAGE</h3>
    <div class="fanpage-content">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDonjai.Shirt%2F&tabs=timeline%2C%20messages&width=240&height=480&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
        width="240" 
        height="480" 
        style="border: none; overflow: hidden;" 
        scrolling="no" 
        frameborder="0" 
        allowTransparency="true">
      </iframe>
    </div>
  </div>
  <div class="text-left"><span class="line"></span></div>
  <div class="aside-statistic">
    <h3>STATISTIC</h3>
    <div class="row">
      <ul>
        <li><i class="fa fa-line-chart"></i> ผู้ชมทั้งหมด : <span>10,000 ครั้ง</span></li>
        <li><i class="fa fa-eye"></i> ผู้ชมวันนี้ : <span>1,000 ครั้ง</span></li>
        <li><i class="fa fa-graduation-cap"></i> เปิดร้าน : <span>23 ต.ค. 58</span></li>
        <li><i class="fa fa-pencil-square-o"></i> ร้านค้าอัพเดท : <span>4 เม.ย. 60</span></li>
      </ul>
    </div>
  </div>
</div>