@font-face {
    font-family: 'Cloud-Light';
    src: url('./assets/fonts/Cloud-Light.otf');
}

body {
    font-family: tahoma;
    font-size: 16px;
}

.section {
    position: relative;
    top: 97px;
}
.section-sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-content {
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid red;
}