<div class="sidebar row">
  <div class="member">
    <h3>MEMBER</h3>
    <div class="member-avatar text-center">
      <img src="./assets/images/profile.png">
      <p><a href="#"><b>Itsara Rakchanthuek</b></a></p>
    </div>
    <div class="member-menu">
      <p><i class="fa fa-shopping-basket"></i> รายการสั่งซื้อของฉัน</p>
      <ul>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> ทั้งหมด (0)</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> รอการชำระเงิน (0)</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> รอตรวจสอบยอดเงิน (0)</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> รอจัดส่งสินค้า (0)</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> ส่งสินค้าเรียบร้อยแล้ว (0)</a></li>
      </ul>
    </div>
  </div>
  <span class="line"></span>
  <div class="fanpage">
    <h3>FANPAGE</h3>
    <div class="fanpage-content">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDonjai.Shirt%2F&tabs=timeline%2C%20messages&width=240&height=320&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
        width="240" 
        height="320" 
        style="border:none;overflow:hidden" 
        scrolling="no" 
        frameborder="0" 
        allowTransparency="true">
      </iframe>
    </div>
  </div>
</div>