.sidebar h3 {
    font-family: 'Cloud-Light';
    font-weight: bold;
    color: #0076A3;
}
.sidebar .member-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-bottom: 5px;
}
.sidebar .member-avatar p {
    font-size: 14px;
}
.sidebar .member-avatar p a {
    color: #333333;
    text-decoration: none;
    transition: all 0.2s ease;
}
.sidebar .member-avatar p a:hover {
    color: #BF360C;
    transition: all 0.2s ease;
}
.sidebar .member-menu p {
    margin-top: 20px;
    margin-left: 10px;
    color: #62aa00;
}
.sidebar .member-menu ul {
    list-style: none;
    padding-left: 30px;;
}
.sidebar .member-menu ul li i {
    margin-right: 5px;
}
.sidebar .member-menu ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    transition: all 0.2s ease;
}
.sidebar .member-menu ul li a:hover {
    font-size: 14px;
    color: #BF360C;
    transition: all 0.2s ease;
}
.sidebar .fanpage .fanpage-content {
    padding: 15px;
}
.sidebar .line {
    border-bottom: 1px dashed #0076A3;
    width: 90%;
    display: inline-block;
    margin: 0 auto;
}