.footer {
    top: 97px;
    position: relative;
    padding: 30px 0;
    font-family: 'Cloud-Light';
    font-size: 16px;
    background-color: #272727;  
    color: #868686; 
}
.footer .footer-menu {
    font-size: 18px;
    text-align: center;
}
.footer .footer-menu nav,
.footer .footer-social nav {
    margin-bottom: 0;
    display: inline-block;
}
.footer .footer-menu li > a {
    background-color: transparent;
    color: #EEEEEE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .footer-menu li > a:hover {
    color: #FF6600;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .footer-social {
    margin-bottom: 10px;
    text-align: center;
}
.footer .footer-social li a {
    background-color: transparent;
}
.footer .footer-social img {
    width: 28px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .footer-social img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer .footer-copyright {
    font-size: 14px;
    font-weight: bold;
}

@media all and (max-width: 1065px) {
    .footer {
        top: 66px;
    }
}