<div class="footer">
    <div class="footer-content container">
        <div class="footer-menu col-md-12">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="#">หน้าแรก</a></li>
                    <li><a href="#">สินค้า</a></li>
                    <li><a href="#">โปรโมชั่น</a></li>
                    <li><a href="#">แจ้งชำระเงิน</a></li>
                    <li><a href="#">สถานะการจัดส่ง</a></li>
                    <li><a href="#">บทความ</a></li>
                    <li><a href="#">วิธีการสั่งซื้อสินค้า</a></li>
                    <li><a href="#">ติดต่อเรา</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-social col-md-12">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="#"><img src="./assets/images/facebook-logo.png"></a></li>
                    <li><a href="#"><img src="./assets/images/instagram-logo.png"></a></li>
                    <li><a href="#"><img src="./assets/images/line-logo.png"></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-copyright col-md-12 text-center">
            &copy; 2017 Donjai-Shirt. All Rights Reserved. Webdesign by ITSARA_CS.
        </div>
    </div>
</div>