<div class="footer">
    <div class="container">
        <div class="footer-menu col-md-12">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a routerLink="/">หน้าแรก</a></li>
                    <li><a routerLink="/">โปรโมชั่น</a></li>
                    <li><a routerLink="/">สินค้า</a></li>
                    <li><a routerLink="/">แจ้งชำระเงิน</a></li>
                    <li><a routerLink="/">สถานะการจัดส่ง</a></li>
                    <li><a routerLink="/">บทความ</a></li>
                    <li><a routerLink="/">วิธีการสั่งซื้อสินค้า</a></li>
                    <li><a routerLink="/">ติดต่อเรา</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-social col-md-12">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="https://web.facebook.com/Donjai.Shirt" target="_blank"><img src="./assets/images/facebook-logo.png"></a></li>
                    <li><a href="https://www.instagram.com/donjai_shirt" target="_blank"><img src="./assets/images/instagram-logo.png"></a></li>
                    <li><a href="http://line.me/ti/p/~itsara_cs" target="_blank"><img src="./assets/images/line-logo.png"></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-copyright col-md-12 text-center">
            &copy; 2017 Donjai-Shirt. All Rights Reserved. Webdesign by ITSARA_CS.
        </div>
    </div>
</div>